<div class="page-header">
  <h4>
    <strong>
      <%= user.login %>
    </strong>
  </h4>
</div>

<div class="row">
  <div class="col-lg-8">
    <p>
      <b>Login:</b>
      <%= user.login %>
    </p>

    <p>
      <b>Name:</b>
      <%= user.name %>
    </p>

    <p>
      <b>Email:</b>
      <%= user.email %>
    </p>

    <% if (session.user && session.user.isAdmin == true) {%>
    <p>
      <b>Admin:</b>
      <%= (user.isAdmin) ? "Si" : "No" %>
    </p>
    <% } %>

    <% if (session.user && (session.user.id == user.id || session.user.isAdmin == true)) {%>
      <a class="btn btn-warning" role="button" href="/users/<%= user.id %>/edit">Editar</a>
    <% } %>
  </div>
</div>
